[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
django-environ = "*"
djangorestframework = "*"

[dev-packages]
names = "*"
lorem = "*"
django-extensions = "*"
werkzeug = "*"

[requires]
python_version = "3.8"
